{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<h2>Rafael Luís Esteves Riego 1801890</h2>
<h2>Victor Santos Cardoso 1802136</h2>
<h2>Vitor Pereira de Abreu 1801820</h2>
<h2>Walter Augusto Feitosa de Oliveira 1801842</h2>

<address>
    Empresa Software Soluções<br />
    Rua do Código, 1010<br />
    <abbr title="Telefone">Tel:</abbr>
    91010-1010
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
